.notification {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #4a6362;
    border: 2px solid #182427;
    margin: 10px;
    border-radius: 6px;
    color: white;
    animation: in-and-out 3s ease-in-out;
}

@keyframes in-and-out {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    10% {
        opacity: 1;
        transform: translateY(0);
    }

    90% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}